<html>
    <head>
            <%- include('bootstrap_head'); -%>
            <title>SIGN UP</title>
    </head>
<!------ Include the above in your HEAD tag ---------->

    <body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand font-weight-bold text-lg-lef" href="/">FireBnb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container">
            <br>
            <form class="form-horizontal" method="POST" action="/user/signup">

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="fn">Username</label>  
            <div class="col-md-12">
            <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="ln">Password</label>  
            <div class="col-md-12">
            <input id="password" name="password" type="Password" placeholder="Password" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="cmpny">Full Name</label>  
            <div class="col-md-12">
            <input id="fullName" name="fullName" type="text" placeholder="Full Name" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>  
            <div class="col-md-12">
            <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Phone</label>  
            <div class="col-md-12">
            <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="add1">Address </label>  
            <div class="col-md-12">
            <input id="address" name="address" type="text" placeholder="Address" class="form-control input-md" required="">
                
            </div>
            </div>

            <!-- Button -->
            <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">SIGN UP</button>
            </div>
            </div>


            </form>
            <h6> Already a user</h6>
            <h6><a href='/user/signin'>Click here to Sign In </a></h6>
        </div>
    </body>